apiVersion: v1
kind: Pod
metadata:
  name: resource-alpha-0
spec:
  containers:
  - args:
    - run
    - --server
    - --addr=localhost:8080
    image: nginx:1.14.2:0.9.2
    name: opa
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
