apiVersion: v1
kind: Pod
metadata:
  labels:
    owner: me.agilebank.demo
  name: resource-beta-0
spec:
  containers:
  - args:
    - run
    - --server
    - --addr=localhost:8080
    image: nginx
    name: opa
    resources:
      limits:
        cpu: 100m
        memory: 2Gi
      requests:
        cpu: 100m
        memory: 1Gi
