apiVersion: v1
kind: Pod
metadata:
  name: resource-alpha-0
spec:
  containers:
  - image: nginx
    name: opa
    resources:
      limits:
        cpu: 1
        memory: 1Gi
      requests:
        cpu: 1
        memory: 1Gi
