apiVersion: v1
kind: Pod
metadata:
  labels:
    owner: me.agilebank.demo
  name: resource-beta
spec:
  containers:
  - args:
    - run
    - --server
    - --addr=localhost:8080
    image: openpolicyagent/opa:0.9.2
    name: container-beta
    resources:
      limits:
        cpu: '4'
        memory: 2Gi
      requests:
        cpu: 100m
        memory: 2Gi
