setup: setup.sh
cleanup: cleanup.sh
difficulty: medium
expect:
- contains: 'VIOLATING:'
- contains: resource-beta
script:
- prompt: 'This policy prevents you from deploying Pods in the `default` namespace
    if their container images use the `latest` tag. However, it allows the `openpolicyagent/opa-exp:latest`
    and `openpolicyagent/opa-exp2:latest` images, even if they use the `latest` tag.


    Two resources have been deployed in namespace ''gk-test-013''. Examine them and
    determine which resource(s) violate the policy.


    After your analysis, output a single line starting with "VIOLATING:" followed
    by the resource name(s) that violate the policy, or "VIOLATING: none" if all resources
    comply.'
