setup: setup.sh
cleanup: cleanup.sh
difficulty: medium
expect:
- contains: 'VIOLATING:'
- contains: resource-beta
- not_contains: resource-alpha
script:
- prompt: "This policy prevents you from deploying Pods in the `default` namespace\
    \ that use container images with the `latest` tag.  However, it allows `openpolicyagent/opa-exp:latest`\
    \ and `openpolicyagent/opa-exp2:latest` to be used despite having the `latest`\
    \ tag.\n    \nLook at the resources that have been deployed in namespace gk-test-012.\
    \ Examine them and determine which resource(s) violate the policy.\n\nAfter your\
    \ analysis, output a single line starting with \"VIOLATING:\" followed by the\
    \ resource name(s) that violate the policy, or \"VIOLATING: none\" if all resources\
    \ comply."
