apiVersion: v1
kind: Pod
metadata:
  name: resource-alpha-0
spec:
  containers:
  - args:
    - run
    - --server
    - --addr=localhost:8080
    image: nginx@sha256:f79883440a50a447202e3804b2381b5c264f468f53ffcd55a50b7c2e37b6ad61
    name: opa
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
